@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Mi primera aplicacion con Html Helpers.</p>
    <hr class="my-4">
    <p>Modulo de gestion de estudiantes.</p>
    <p class="lead">
    </p>
</div>